<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout (~{::title}, ~{::section})}">
<head>
    <title>New Subject</title>
</head>
<section th:fragment="content">
    <h2>Create Subject</h2>
    <form th:action="@{/subjects}" th:object="${subject}" method="post">
        <div>
            <label>Name</label>
            <input type="text" th:field="*{name}" />
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        </div>

        <div>
            <label>Stream</label>
            <select th:field="*{stream}">
                <option th:each="st : ${streams}" th:value="${st}" th:text="${st}"></option>
            </select>
        </div>

        <button type="submit">Save</button>
    </form>
</section>
</html>
