<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/><title>Papers</title>
    <link rel="stylesheet" th:href="@{/css/css/style.css}"/>
</head>
<body>
<h2>Papers</h2>
<p><a th:href="@{/papers/upload}">+ Upload PDF</a></p>

<table border="1" cellpadding="6">
    <thead>
    <tr><th>ID</th><th>Title</th><th>Year</th><th>Type</th><th>Subject</th><th>File</th><th>Actions</th></tr>
    </thead>
    <tbody>
    <tr th:each="p : ${papers}">
        <td th:text="${p.id}"></td>
        <td th:text="${p.title}"></td>
        <td th:text="${p.year}"></td>
        <td th:text="${p.type}"></td>
        <td th:text="${p.subject.name}"></td>
        <td th:text="${p.filePath}"></td>
        <!--        <td>-->
        <!--            <form th:action="@{|/papers/${p.id}/delete|}" method="post">-->
        <!--                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
        <!--                <button type="submit">Delete</button>-->
        <!--            </form>-->
        <!--        </td>-->
        <td>
            <a class="btn btn-sm btn-primary" th:href="@{'/papers/' + ${p.id} + '/download'}">Download</a>
            |
            <form th:action="@{'/papers/' + ${p.id} + '/delete'}" method="post" style="display:inline;">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<p><a th:href="@{/}">← Home</a></p>
</body>
</html>
